*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    overflow: hidden;
    font-size: 20px;
    color: white;
    line-height: 30px;
    font-family: "Ubuntu", sans-serif;
    background-color: #1D262D;
}
.container{
    max-width: 1350px;
    padding: 0px 25px;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 700px;
}
.header__nav_items{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    height: 50px;
    margin-left: auto;
}
.header__nav_link{
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.header__me-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header__box{
    width: 350px;
    height: 350px;
    margin-top: 80px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__box::before{
    content: "";
    display: block;
    width: 340px;
    height: 320px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 6px;
    left: -4px;
    z-index: 1;
}
.header__box::after{
    content: "";
    display: block;
    width: 340px;
    height: 320px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    bottom: 6px;
    right: -4px;
    z-index: 1;
}
.header__box_img{
    width: 350px;
    height: auto;
    border-radius: 100%;
    position: absolute;
    z-index: 10;
}

h1{
    margin-top: 15px;
}
h1::before{
    content: "< ";
    color: red;
}
h1::after{
    content: " />";
    color: blue;
}

/* --------------------ABOUT ME---------------- */
.about-me{
    background: linear-gradient(0deg, #BC1964 0%, #311996 100%);
    padding: 100px;
    border-radius: 30px;
}
.about-me_title{
    margin-bottom: 20px;
}
.about-me_text{
    width: 1000px;
    margin-bottom: 35px;
}
.about-me__list{
    padding: 15px 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-me__aducation_list{
    list-style: none;
    margin-bottom: 35px;
}

.footer{
    height: 150px;
    margin-top: 20px;
}
.footer__nav{
    background: linear-gradient(0deg, #BC1964 0%, #311996 100%);
    border-radius: 30px;
}
.footer__nav_items{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

.footer__nav_items a{
    text-decoration: none;
    color: white;
}
.footer__link_img{
    display: block;
    width: 80px;
    height: 30px;
}

code{
    background-color: #fff;
    border-radius: 15px;
    color: black;
    font-size: 15px;
    line-height: 25px;
    display: block;
    width: 490px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.work__text{
    margin-bottom: 20px;
}
.work__link{
    color: white;
    font-weight: bold;
    font-style: italic;
}
